@model Book
<form method="POST">
    <div>
        <div class="conatiner_details">
            <div class="container_img">
                <img src="@Model.ImageUrl" />
            </div>
            <div class="container_details_book">
                <h1>@Model.Title</h1>
                <p>By <span>@Model.Author</span> </p>
                <p>Year of publication: <span>@Model.yearOfPublication </span></p>
                <p>Category: <span> @Model.Category.Name</span></p>
                <p>
                    Rating: <span> @Model.Rating &#9733; </span>
                </p>
                <p><span>Description:</span> @Model.Description</p>

            </div>
            <div class="buttons_">
                <button> <i class="fal fa-solid fa-heart fa-xl"></i></button>
                <button> <i class="fal fa-solid fa-bookmark fa-xl"></i></button>
                <button>
                    <a asp-action="Index"> <i class="fa-solid fa-arrow-left fa-xl"></i> </a>
                </button>
            </div>
        </div>

    </div>
</form>
